spacy==2.3.0
easy-tokenizer==0.0.10
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.0/en_core_web_sm-2.3.0.tar.gz#egg=en_core_web_sm
tensorflow==2.7.2
numpy==1.16.0
xml-miner==0.0.5
setuptools>=41.0.0
